In [10]:
import sys
sys.path.append("..")

import matplotlib.pyplot as plt
import numpy as np
import os
import seaborn as sns
import pandas as pd

import geopandas as gpd
from src.utils import read_tiff

from skimage.measure import label
import rasterio

# Leitura dos dados

In [5]:
df_samples = gpd.read_file("../Original Data Source/orthoimages/samplesA1_new.shp")

df_test = gpd.read_file("../Original Data Source/test_save/test.shp")
# test_shape.plot(column='amostras', legend=True)

In [9]:
train_img = read_tiff("../input_data/segmentation/samples_A1_train2tif.tif")
test_img = read_tiff("../input_data/segmentation/samples_A1_test2tif.tif")

# Visão Geral

In [18]:
print("Quantas amostras de treino?")
print(np.unique(label(train_img)).shape[0]-1)


print("Quantas amostras de teste?")
print(np.unique(label(test_img)).shape[0]-1)

Quantas amostras de treino?
38
Quantas amostras de teste?
32

In [19]:
df_samples

    id        amostras                                           geometry
0    1          acoita  POLYGON ((524224.996 6981976.491, 524226.584 6...
1    2          acoita  POLYGON ((524231.805 6981978.283, 524232.897 6...
2    3          acoita  POLYGON ((524330.580 6981932.615, 524328.778 6...
3    4      bracatinga  POLYGON ((524111.287 6981865.037, 524111.616 6...
4    5      bracatinga  POLYGON ((524112.236 6981866.729, 524113.373 6...
..  ..             ...                                                ...
75  76  cinnamodendrum  POLYGON ((524207.565 6981799.412, 524208.478 6...
76  77          acoita  POLYGON ((524325.085 6981938.102, 524325.526 6...
77  78          acoita  POLYGON ((524355.415 6981754.488, 524355.909 6...
78  79         matayba  POLYGON ((524062.804 6981951.159, 524063.346 6...
79  80      bracatinga  POLYGON ((524083.482 6982032.861, 524082.992 6...

[80 rows x 3 columns]

In [ ]:
fig, ax = plt.subplots(figsize=(9,21))
shapefile.plot(column="amostras", ax=ax, legend=True)
# outside legend
ax.get_legend().set_bbox_to_anchor((1.2, 1))
ax.set_xticks([])
ax.set_yticks([])
plt.show()